<%= render 'partials/navbar', index: false %>
<%= render 'partials/banner', photo: @cocktail.photo %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="large-card">
        <div class="large-card-details">
          <div class="details-header">
            <h2><%= @cocktail.name %></h2>
            <h5><%= @cocktail.description %></h5>
              <div class="average-rating">
                <% if @cocktail.reviews.count == 0 %>
                  <p>No reviews</p>
                  <% else %>
                    <% @cocktail.avg_rating.times do %>
                      <span class='glyphicon glyphicon-star'></span>
                    <% end %>
                <% end %>

              </div>
              </div>
              <div class="dose-info">
            <%= render 'partials/dose-list' %>
             </div>

          <div class="details-reviews">
            <div class="add-review">
              <%= simple_form_for [@cocktail, @review], remote: true do |f| %>
              <div class="panel panel-default">
                <div class="panel-body">
                  <%= f.input :content, label: false, placeholder: 'Type in your review' %>
                </div>
                <div class="panel-footer" style="height: 56px;">
                  
                  <%= f.input :rating, label: false, input_html: { type: 'hidden', class: 'star-rating'} %>

                  <%= f.submit "add review", class: "btn submit-button" %>
                </div>
              </div>
              <% end %>
            </div>

            <div class="reviews-partial">
              <%= render 'partials/reviews' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
