<div class="dose-wrapper">
  <%= link_to cocktail_path(@cocktail), class: "exit-button", remote: true do %>
    <span class="glyphicon glyphicon-remove"></span>
  <% end %>
  <h3>add a dose</h3>
  <div class="dose-form">
    <%= simple_form_for [@cocktail, @dose], url: { controller: 'doses', action: 'create', format: :js }, remote: true do |f| %>
      <%= f.association :ingredient, label: false, prompt: 'choose an ingredient', collection: @ingredients %>
      <%= f.input :description, label: false, placeholder: 'description (ie. one pinch, 5ml)' %>
      <div class="button-box">
        <%= f.button :submit, class: "submit-button" %>
      </div>
    <% end %>
  </div>
</div>
