<div class="dose-wrapper">
  <%= link_to cocktail_path(@cocktail), class: "exit-button", remote: true do %>
    <span class="glyphicon glyphicon-remove"></span>
  <% end %>
  <h3>edit dose</h3>
  <div class="dose-form">
    <%= simple_form_for [@cocktail, @dose], url: { controller: 'doses', action: 'update', format: :js }, remote: true do |f| %>
      <%= f.association :ingredient, label: false, collection: Ingredient.all, disabled: true %>
      <%= f.input :description, label: false %>
      <div class="button-box">
        <%= f.button :submit, class: "submit-button" %>
        <%= link_to "Delete", cocktail_dose_path(@cocktail), remote: true, authenticity_token: true,
            method: :delete,
            data: { confirm: "Are you sure?" }, class: 'btn delete-button' %>
      </div>
    <% end %>
  </div>
</div>
