<% index ||= false %>
<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <% if index %>
   <%= link_to 'drinks³', root_path, class: 'index-logo-text hide-logo' %>
    <% else %>
    <%= link_to 'drinks³', root_path, class: 'logo-text' %>
  <% end %>
  

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    
    <% if index %>
      <%= form_tag cocktails_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control index-nav-search-box hide",
        placeholder: "search"
      %>
      <% end %>
      <% else %>
      <%= form_tag cocktails_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control nav-search-box",
        placeholder: "search"
      %>
      <% end %>
    <% end %>
    
    <%= link_to 'Add Cocktail', new_cocktail_path, class: 'navbar-wagon-item navbar-wagon-link' %>

  </div>
</div>
